.about {
  min-height: 90vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 4rem;
  padding-right: 4rem;
  margin-top: 2rem;
}

.about .title2 {
  font-size: 1.8rem;
  text-align: left;
  color: #f4d35e;
}

.about .left {
  margin-left: 0;
  text-align: left;
}

.about .left a {
  font-weight: 300;
  font-size: 1.5rem;
  color: #f4d35e;
}

.about .left p {
  font-size: 1.3rem;
  font-weight: 200;
  line-height: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #c9c9c9;
  text-align: left;
}

.about .actions {
  margin-top: 3rem;
  display: flex;
  justify-content: start;
}

.about .actions img {
  height: 2rem;
  margin-right: 1rem;
  margin-left: 0;
}

.about .right {
  overflow: hidden;
  max-height: 50rem;
  width: 60rem;
  margin-top: -25rem;
}

.about .right img {
  object-fit: cover;
  width: 100%;
}

@media screen and (max-width: 960px) {
  .about {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .about .left {
    min-width: 80%;
    margin-left: 0rem;
    margin-top: 3rem;
    z-index: 99;
  }

  .about .left .title1 {
    font-size: 2rem;
  }

  .about .left .title2 {
    font-size: 1.5rem;
  }

  .about .left p {
    font-size: 1.1rem;
  }

  .about .left a {
    font-size: 1.1rem;
  }

  .about .left button {
    width: 7rem;
    font-size: 1rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    -webkit-tap-highlight-color: transparent;
  }

  .about .right {
    margin-top: 2rem;
    height: fit-content;
  }

  .about .right img {
    object-fit: cover;
    width: 25%;
  }
}
